*{
  padding: 0%;
  margin: 0%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quattrocento Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Flex', sans-serif;
}
.container-box{
  display: grid;
  grid-template-columns: 200px auto auto auto auto ;
  grid-template-rows: 150px auto 60px;
  grid-template-areas: 'headers headers headers headers headers'
                        'aside products products products products'
                        'footer footer footer footer footer';
  min-height: 100vh;
}
